<%= simple_form_for [:my, @book, memo], remote: true do |f| %>
  <%= f.input :body, label: false, as: :ckeditor, input_html: {id: "memo-editor-#{dom_id(memo)}",
                                                               ckeditor: {toolbar: "special"}} %>

  <div class="public-radio-buttons">
    <%= f.input :public, as: :radio_buttons, label: "Share this memo with the public:",
                                             label_html: { class: "public-label" },
                                             item_wrapper_class: "public-button" %>
  </div>

  <div class="cancel-create-update-memo-buttons">
    <% if memo.id %>
      <button type="button" class="cancel-button btn btn-danger" data-memo-id="<%= dom_id(memo) %>">Cancel</button>
    <% end %>

    <%= f.submit data: {disable_with: "submitting..."}, class: "btn btn-primary" %>
  </div>
<% end %>

<br>
