<% form_class = @book.memos.find_by_user_id(current_user.id) ? "" : "in"  %>

<div class="memo-form collapse <%= form_class %>">

  <%= simple_form_for [@book, @memo], url: my_book_memos_path(@book) do |f| %>
    <%= f.input :body %>
    <%= f.input :public, label: 'Do you want to share this memo with the public?' %>

    <%= f.error :extra_memos %>
    <div id="extra_memos">
      <%= f.simple_fields_for :extra_memos do |r| %>
        <%= render "/my/memos/extra_memo_fields", f: r %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add extra memo', f, :extra_memos, partial: "/my/memos/extra_memo_fields", class: "btn btn-success btn-sm" %>
      </div>
    </div>
    <%= f.submit data: {disable_with: "submitting..."}, class: "btn btn-primary" %>
  <% end %>

  <%= @memo.errors.full_messages.join(", ") %>
  <br>

</div>

<div class="new-memo-button">
  <% button_name = @book.memos.find_by_user_id(current_user.id) ? "New Memo" : "Hide New Memo"  %>
  <% button_class = @book.memos.find_by_user_id(current_user.id) ? "show-new-memo-button" : "hide-new-memo-button"  %>
  <% button_attr = @book.memos.find_by_user_id(current_user.id) ? "false" : "true"  %>

  <%= button_tag button_name, "class": "#{button_class} btn btn-primary",
                              "type": "button",
                              "data-toggle": "collapse",
                              "data-target": ".memo-form",
                              "aria-expanded": button_attr,
                              "aria-controls": "memo-form" %>
</div>
