<%= simple_form_for [:my, @book, memo], remote: true do |f| %>
  <%= f.input :body, label: "Memo", input_html: {id: "fr-editor"} %>

  <div class="public-checkbox">
    <%= f.input :public, label: "Do you want to share this memo with the public?" %>
  </div>

  <div class="create-memo-button">
    <%= f.submit data: {disable_with: "submitting..."}, class: "btn btn-primary" %>
  </div>
<% end %>

<%= memo.errors.full_messages.join(", ") %>
<br>
