<div id="<%= dom_id(memo) %>" class="well well-lg">
  <p style="color:grey">
    Created on: <%= memo.created_at.strftime("%B %d, %Y") %>
    &nbsp;&nbsp;
    Updated on: <%= memo.updated_at.strftime("%B %d, %Y") %>
  </p>
  <div class="fr-view">
    <%= memo.body.html_safe %>
  </div>

  <div class="edit-delete-buttons">
    <% if can? :edit, memo %>
      <%= link_to "Edit", edit_my_book_memo_path(@book, memo),
                          class: "btn btn-default btn-sm",
                          remote: true %>
    <% end %>

    <% if can? :destroy, memo %>
      <%= link_to "Delete", my_book_memo_path(@book, memo),
                            method: :delete,
                            data: {confirm: "Are you sure you want to delete this memo?"},
                            class: "btn btn-default btn-sm",
                            remote: true %>
    <% end %>
  </div>
</div>
