<div class="table-responsive">
  <table class="table">
    <tr>
      <td class="table-column-1">
        <div class="show-book-image">
          <% if @book.image.present? %>
            <%= image_tag @book.image.url(:large) %>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <% message = user_favorite ? "Unfavorite" : "Favorite" %>
            <% class_name = user_favorite ? "unfavorite" : "favorite" %>
            <% favorite_id = user_favorite ? (@book.favorites.find_by_user_id current_user).id : "" %>
            <span class="favorite-container">
              <%= link_to message, "javascript:void(0);", class: class_name,
                                                          data: {"book-id": @book.id,
                                                                 "favorite-id": favorite_id,
                                                                 "favorite-count": @book.favorites.count} %>
            </span>
          <% else %>
            <%= link_to "Favorite", new_session_path %>
          <% end %>
          <span class="favorites-count">
            (<%= @book.favorites.count %>)
          </span>

          <span>
            <% if can? :update, @book %>
              |
              <%= link_to "Edit", edit_book_path(@book) %>
            <% end %>

            <% if can? :destroy, @book %>
              |
              <%= link_to "Delete", book_path(@book),
                                    method: :delete,
                                    data: {confirm: "Are you sure you want to delete this book?"} %>
            <% end %>
          </span>
        </div>
      </td>
      <td>
        <h1 class="show-book-title"><strong><%= @book.title %></strong></h1>
        <dl class="dl-horizontal">
          <dt>ISBN</dt>
          <dd><%= @book.isbn %></dd>
          <dt>Author(s)</dt>
          <dd><%= @book.author %></dd>
          <dt>Publisher</dt>
          <dd><%= @book.publisher %></dd>
          <dt>Published Date</dt>
          <dd><%= @book.published_date %></dd>
          <dt>Number of Pages</dt>
          <dd><%= @book.number_of_pages %></dd>
          <dt>Category</dt>
          <dd><%= @book.category.name %></dd>
          <dt>Language</dt>
          <dd><%= @book.language.name %></dd>
        </dl>
      </td>
    </tr>
  </table>
</div>
