<%= form_tag books_path, method: :get, id: "search-form" do %>
  <div id="main-search-bar">
    <%= text_field_tag :search, params[:search], placeholder: "e.g. pocket" %>
    <%= submit_tag "Search", class: "btn btn-default btn-sm" %>
  </div>
<% end %>

<% if @books.present? && @books != "blank" %>
  <%= render "/my/books/pagination" %>

  <div class="books-row">
    <% counter = 0 %>
    <% @books.each do |b| %>
      <div id="book-<%= counter %>" class="book col-xs-6 col-ms-4 col-sm-3 col-md-2 col-lg-1p5">
        <%= link_to book_path(b) do %>
          <div class="book-image">
            <% if b.image.present? %>
              <%= image_tag b.image.url(:small) %>
            <% end %>
          </div>
          <div class="book-title"><%= b.title_snippet %></div>
        <% end %>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>

  <%= render "/my/books/pagination" %>
<% elsif !@books.present? %>
  <div>There are no books containing the term "<%= params[:search] %>".</div>
<% else %>
  <div></div>
<% end %>
