<div>Public Memos
  <% if user_signed_in? && (@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "My Memos", my_book_path(@book) %>
  <% elsif user_signed_in? && !(@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "Create Memos", my_book_path(@book) %>
  <% else %>
    <div></div>
  <% end %>
</div>

<%= render "book" %>

<br>

<h3><u>Public Memos</u></h3>

<div>
  <% @book.memos.order(:id).each do |mem| %>
    <% if mem.public %>
      <div class="well well-lg">
        <p style="color:grey">
          Created on: <%= mem.created_at.strftime("%B %d, %Y") %>
          &nbsp;&nbsp;
          Updated on: <%= mem.updated_at.strftime("%B %d, %Y") %>
        </p>
        <%= mem.body %>

        <% mem.segments.each do |segm| %>
          <h3><strong><%= segm.title %></strong></h3>
          <p><%= segm.body %></p>
        <% end  %>
      </div>

      <% if user_signed_in? %>
        <% message = user_like(mem) ? "Unlike" : "Like" %>
        <% class_name = user_like(mem) ? "unlike" : "like" %>
        <% like_id = user_like(mem) ? (mem.likes.find_by_user_id current_user).id : "" %>
        <span class="like-container">
          <%= link_to message, "javascript:void(0);", class: class_name,
                                                      data: {"book-id": @book.id,
                                                             "memo-id": mem.id,
                                                             "like-id": like_id,
                                                             "like-count": mem.likes.count} %>
        </span>
      <% else %>
        <span><%= link_to "Like", new_session_path %></span>
      <% end %>
      <span id="likes-count-<%= mem.id %>">
        (<%= mem.likes.count %>)
      </span>

    <% end %>
  <% end %>
</div>
