<div>
  Public Memos
  <% if user_signed_in? && (@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "My Memos", my_book_path(@book) %>
  <% elsif user_signed_in? && !(@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "Create Memos", my_book_path(@book) %>
  <% else %>
    | <%= link_to "Create Memos", new_session_path %>
  <% end %>
</div>

<%= render "book" %>

<h2><strong>Public Memos</strong></h2>

<div>
  <% @book.memos.order(:id).each do |mem| %>
    <% if mem.public %>
      <div class="well well-lg">
        <h3 class="memo-title">
          <strong>Memo by <span class="memo-username"><%= mem.user.username %></span></strong>
        </h3>
        <p class="memo-dates">
          Created on: <%= mem.created_at.strftime("%B %d, %Y") %>
          &nbsp;&nbsp;
          Updated on: <%= mem.updated_at.strftime("%B %d, %Y") %>
        </p>
        <div>
          <%= mem.body.html_safe %>
        </div>

        <div class="memo-like">
          <% if user_signed_in? %>
            <% icon_type = user_like(mem) ? "blue-thumb" : "gray-thumb" %>
            <% class_name = user_like(mem) ? "unlike" : "like" %>
            <% like_id = user_like(mem) ? (mem.likes.find_by_user_id current_user).id : "" %>
            <span class="like-container">
              <%= link_to "javascript:void(0);", class: class_name,
                                                 data: {"book-id": @book.id,
                                                         "memo-id": mem.id,
                                                         "like-id": like_id,
                                                         "like-count": mem.likes.count} do %>
                <i class="like-icon-<%= mem.id %> fa fa-thumbs-up <%= icon_type %>"></i>
              <% end %>
            </span>
          <% else %>
            <span>
              <%= link_to new_session_path, class: "like" do %>
                <i class="fa fa-thumbs-up gray-thumb"></i>
              <% end %>
            </span>
          <% end %>
          <span id="likes-count-<%= mem.id %>">
            (<%= mem.likes.count %>)
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
