<div class="public-self-memo-switcher">
  Public Memos
  <% if user_signed_in? && (@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "My Memos", my_book_path(@book) %>
  <% else %>
    | <%= link_to "Create Memos", my_book_path(@book) %>
  <% end %>
</div>

<%= render "book" %>

<h2><strong>Public Memos</strong></h2>

<% any_public = false %>
<div>
  <% @book.memos.order(:id).each do |mem| %>
    <% if mem.public %>
      <% any_public = true %>
      <div class="well well-lg">
        <span class="memo-username">
          <strong><%= mem.user.username %></strong>
        </span>
        <p class="memo-dates">
          Created on: <%= mem.created_at.strftime("%B %d, %Y") %>
          &nbsp;&nbsp;
          Updated on: <%= mem.updated_at.strftime("%B %d, %Y") %>
        </p>
        <div>
          <%= mem.body.html_safe %>
        </div>

        <div class="memo-like">
          <% if user_signed_in? %>
            <% like_color = user_like(mem) ? "blue-like" : "gray-like" %>
            <% class_name = user_like(mem) ? "unlike" : "like" %>
            <% like_id = user_like(mem) ? (mem.likes.find_by_user_id current_user).id : "" %>
            <span class="like-container">
              <%= link_to "javascript:void(0);", class: class_name,
                                                 data: {"book-id": @book.id,
                                                         "memo-id": mem.id,
                                                         "like-id": like_id,
                                                         "like-count": mem.likes.count} do %>
                <span class="<%= like_color %>">
                  <i class="like-icon-<%= mem.id %> fa fa-thumbs-up"></i>
                  <span>Like</span>
                </span>
              <% end %>
            </span>
          <% else %>
            <span>
              <%= link_to book_memo_likes_path(@book, mem), method: :post, class: "like" do %>
                <span class="gray-like">
                  <i class="fa fa-thumbs-up"></i>
                  <span>Like</span>
                </span>
              <% end %>
            </span>
          <% end %>
          <span id="likes-count-<%= mem.id %>">
            (<%= mem.likes.count %>)
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if any_public == false %>
  <div class="no-public-memo-notice">
    <strong>- There is no public memo for this book. -</strong>
  </div>
<% end %>
