<div>Public Memos
  <% if user_signed_in? && (@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "My Memos", my_book_path(@book) %>
  <% elsif user_signed_in? && !(@book.memos.find_by_user_id(current_user.id)) %>
    | <%= link_to "Create Memos", my_book_path(@book) %>
  <% else %>
    <div></div>
  <% end %>
</div>

<%= render "book" %>

<br>

<h3><u>Public Memos</u></h3>

<div>
  <% @book.memos.order(:id).each do |mem| %>
    <% if mem.public %>
      <%= mem.body %>
      <p>Created on: <%= mem.created_at.strftime("%B %d, %Y") %></p>
      <p>Updated on: <%= mem.updated_at.strftime("%B %d, %Y") %></p>

      <% if user_signed_in? %>
        <% message = user_like(mem) ? "Unlike" : "Like" %>
        <% class_name = user_like(mem) ? "unlike" : "like" %>
        <% like_id = user_like(mem) ? (mem.likes.find_by_user_id current_user).id : "" %>
        <div class="like-container">
          <%= link_to message, "javascript:void(0);", class: class_name,
                                                      data: {"book-id": @book.id,
                                                             "memo-id": mem.id,
                                                             "like-id": like_id,
                                                             "like-count": mem.likes.count} %>
        </div>
      <% else %>
        <%= link_to "Like", new_session_path %>
      <% end %>
      <div id="likes-count-<%= mem.id %>">
        (<%= mem.likes.count %>)
      </div>

    <% end %>
  <% end %>
</div>
