<h1 class="page-title page-title-my-books">My Favorite Books</h1>

<%= render "/my/books/pagination" %>

<div class="books-row">
  <% counter = 0 %>
  <% @books.each do |favbook| %>
    <div id="book-<%= counter %>" class="book col-xs-6 col-sm-3 col-md-2 col-lg-1p5">
      <%= link_to book_path(favbook) do %>
        <div class="book-image">
          <% if favbook.image.present? %>
            <%= image_tag favbook.image.url(:small) %>
          <% end %>
        </div>
        <div class="book-title"><%= favbook.title_snippet %></div>
      <% end %>
    </div>
    <% counter += 1 %>
  <% end %>
</div>

<%= render "/my/books/pagination" %>
