<h1>My Favorite Books</h1>

<% counter = 0 %>
<% @books.each do |favbook| %>
  <div id="book-<%= counter %>" class="books" style="display:none">
    <%= link_to book_path(favbook) do %>
      <% if favbook.image.present? %>
        <%= image_tag favbook.image.url(:small) %>
      <% end %>
      <div class="book-name"><%= favbook.title_snippet %></div>
    <% end %>
  </div>
  <% counter += 1 %>
<% end %>

<div><%= paginate @books %></div>
