<div><%= link_to "Create a Book", new_book_path, class: "create-a-book btn btn-primary" %><div>

<h1 class="page-title page-title-select">Select a Book</h1>

<%= form_tag new_my_book_path, method: :get, class: "create-memos-search" do %>
  <%= text_field_tag :search, params[:search], placeholder: "e.g. pocket", class: "create-memos-search-bar" %>
  <%= submit_tag "Search", class: "btn btn-default btn-sm" %>
<% end %>

<% if @books.present? && @books != "blank" %>
  <%= render "pagination" %>

  <div class="books-row">
    <% @books.each do |b| %>
      <div class="searched-book col-xs-6 col-ms-4 col-sm-3 col-md-2 col-lg-1p5">
        <%= link_to my_book_path(b) do %>
          <div class="book-image">
            <% if b.image.present? %>
              <%= image_tag b.image.url(:small) %>
            <% end %>
          </div>
          <div class="book-title"><%= b.title_snippet %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render "pagination" %>
<% elsif !@books.present? %>
  <div>There are no books containing the term "<%= params[:search] %>". Please click on the "Create a Book" link to create the book.</div>
<% else %>
  <div></div>
<% end %>
