<h1>Select a Book</h1>

<%= @book.errors.full_messages.join(", ") %>

<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= link_to "Create a Book", new_book_path %>
