<h1>Select a Book</h1>

<%= form_tag new_my_book_path, method: :get, id: "search-form" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Books..." %>
  <%= submit_tag "Search" %>
<% end %>

<div class="books-row">
  <% if @books.present? && @books != "blank" %>
    <% @books.each do |b| %>
      <div class="searched-book col-xs-6 col-sm-3 col-md-2 col-lg-1p5">
        <%= link_to my_book_path(b) do %>
          <div class="book-image">
            <% if b.image.present? %>
              <%= image_tag b.image.url(:small) %>
            <% end %>
          </div>
          <div class="book-title"><%= b.title_snippet %></div>
        <% end %>
      </div>
    <% end %>
  <% elsif !@books.present? %>
    <div>There are no books containing the term "<%= params[:search] %>". Please create the book with the create button below.</div>
  <% else %>
    <div></div>
  <% end %>
</div>

<div><%= (paginate @books) if !(@books == "blank" || @books == nil) %></div>

<br>
<div><%= link_to "Create a Book", new_book_path %><div>
