<div><%= link_to "Public Memos", book_path(@book) %> |
  <%= (@book.memos.find_by_user_id(current_user.id) ? "My Memos" : "Create Memos") %>
</div>

<% if @book.image.present? %>
  <%= image_tag @book.image.url(:large), class: "full-width" %>
<% end %>

<h1><%= @book.title %></h1>
<p>ISBN: <%= @book.isbn %></p>
<p>Author(s): <%= @book.author %></p>
<p>Publisher: <%= @book.publisher %></p>
<p>Published Date: <%= @book.published_date %></p>
<p>Category: <%= @book.category.name %></p>
<p>Number of Pages: <%= @book.number_of_pages %></p>
<p>Language: <%= @book.language.name %></p>

<% if user_signed_in? %>
  <% message = user_favorite ? "Unfavorite" : "Favorite" %>
  <% class_name = user_favorite ? "unfavorite" : "favorite" %>
  <% favorite_id = user_favorite ? (@book.favorites.find_by_user_id current_user).id : "" %>
  <div class="favorite-container">
    <%= link_to message, "javascript:void(0);", class: class_name,
                                                data: {"book-id": @book.id,
                                                       "favorite-id": favorite_id,
                                                       "favorite-count": @book.favorites.count} %>
  </div>
<% else %>
  <%= link_to "Favorite", new_session_path %>
<% end %>
<div class="favorites-count">
  (<%= @book.favorites.count %>)
</div>

<h2>My Memos:</h2>

<div class="memo-index">
  <% @book.memos.order(:id).each do |mem| %>
    <div>
      <div class="well well-lg">
        <p style="color:grey">
          Created on: <%= mem.created_at.strftime("%B %d, %Y") %>
          &nbsp;&nbsp;
          Updated on: <%= mem.updated_at.strftime("%B %d, %Y") %>
        </p>
        <%= mem.body %>

        <% mem.segments.each do |segm| %>
          <h3><strong><%= segm.title %></strong></h3>
          <p><%= segm.body %></p>
        <% end  %>
        <div>
          <% if mem.public %>
            Likes:(<%= mem.likes.count %>)
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>

<%= render "/my/memos/form" %>

<div class="new-memo-button">
  <% button_name = @book.memos.find_by_user_id(current_user.id) ? "New Memo" : "Hide New Memo"  %>
  <% button_class = @book.memos.find_by_user_id(current_user.id) ? "show-new-memo-button" : "hide-new-memo-button"  %>

  <%= button_tag button_name, "class": "#{button_class} btn btn-primary",
                              "type": "button",
                              "data-toggle": "collapse",
                              "data-target": ".memo-form" %>
</div>
