<div><%= link_to "Public Memos", book_path(@book) %> |
  <%= (@book.memos.find_by_user_id(current_user.id) ? "My Memos" : "Create Memos") %>
</div>

<%= render "/books/book" %>

<h2><strong>My Memos</strong></h2>
<div class="memo-index">
  <% @book.memos.where(user_id: current_user).order(:id).each do |mem| %>
    <div id="show-<%= dom_id(mem) %>">
      <%= render "/my/memos/memo", memo: mem %>
    </div>
    <div id="edit-<%= dom_id(mem) %>" ></div>
  <% end %>
</div>

<% form_class = @book.memos.find_by_user_id(current_user.id) ? "" : "in"  %>
<div class="memo-form collapse <%= form_class %>">
  <%= render "/my/memos/form", memo: @memo %>
</div>

<div class="new-memo-button">
  <% button_name = @book.memos.find_by_user_id(current_user.id) ? "New Memo" : "Hide New Memo"  %>
  <% button_class = @book.memos.find_by_user_id(current_user.id) ? "show-new-memo-button" : "hide-new-memo-button"  %>

  <%= button_tag button_name, "class": "#{button_class} btn btn-primary",
                              "type": "button",
                              "data-toggle": "collapse",
                              "data-target": ".memo-form" %>
</div>
